.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.btn {
  cursor: pointer;
  margin-right: 20px;
  padding: 12px 20px;
  background: #049cdb;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover {
  background: #0378a9;
}
.hide {
  display: none;
}
html body {
  background: url('/textures/cutcube@2x.png');
  background-size: 20px 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}
html body h1 {
  font-size: 18px;
  line-height: 18px;
}
html body h2 {
  font-size: 14px;
  line-height: 18px;
}
html body a {
  color: #049cdb;
}
html.desktop body .modal {
  position: absolute;
  width: 400px;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
html.desktop body .modal .content {
  margin: 20px;
  color: #fff;
}
html.desktop #loading {
  top: 0;
  text-align: center;
  width: 110px;
  margin-left: -100px;
  padding: 10px 20px 0px 20px;
  color: #fff;
  left: 50%;
  display: block;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
html.desktop #desktopConnect .content {
  text-align: center;
}
html.desktop #desktopConnect .content h2 {
  line-height: 40px;
}
html.desktop #desktopConnect .content h2 small {
  background: #fff;
  color: #333;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 22px;
}
html.desktop #desktopConnect .content h2 small.status {
  text-decoration: blink;
  color: #888;
}
html.desktop #credits .content .btn {
  margin-top: 10px;
  display: inline-block;
}
html.desktop #creditsBar {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  padding: 10px 0;
}
html.desktop #creditsBar h1 {
  margin-right: 20px;
  margin-left: 20px;
}
html.desktop #mobileInput {
  display: none;
}
html.mobile .modal {
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow: scroll;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
html.mobile .modal .content {
  margin: 20px;
  color: #fff;
}
html.mobile #credits .content {
  position: relative;
  padding-top: 60px;
}
html.mobile #credits .content .btn {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -35px;
}
html.mobile #mobileInput {
  display: block;
  color: #fff;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  padding: 10px 0;
}
html.mobile #mobileInput p {
  margin: 20px;
}
html.mobile #mobileInput input,
html.mobile #mobileInput .btn {
  height: 40px;
  margin: 0 20px;
  width: 235px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
html.mobile #mobileInput .btn {
  width: 206px;
  height: 25px;
}
html.mobile #creditsBar {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  padding: 10px 0;
}
html.mobile #creditsBar h1 {
  margin-right: 20px;
  margin-left: 20px;
}
html.mobile #creditsBar h2 {
  display: none;
}
